footer {
    height: 100px;
    background-color: #125495;
    display: flex;
    align-items: center;
}

.link-container {
    margin: auto;
    color: white;
    width: fit-content;
}

.link-container ul {
    display: flex;
}

.social-link {
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.social-link:hover {
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    footer {
        height: 65px;
    }

}
