#head-table-container {
    height: 155px;
    width: 350px;
    border: 3px solid #000000;
    border-radius: 6px;
    margin-left: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 3px 3px #0000007b;
    background-color: rgb(17, 17, 17);
    color: white;
}

.head-subcontanier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 7px; 
    text-shadow: 3px 3px 3px 3px #0000007b;
}

.head-table-data {
    line-height: 1;
    padding: 10px;
}

.arrow-indicator {
    height: 20px;
}

.up {
    font-weight: bold;
    color: rgb(4, 185, 4);
}

.down {
    font-weight: bold;
    color: rgb(232, 6, 6);
}

@media only screen and (max-width: 800px) {
    #head-table-container {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: unset;
    }

    .head-subcontanier {
        margin-top: 15px;
        width: 100%;
    }
    
}