#head-table-container {
    height: 155px;
    width: 350px;
    border: 3px solid #1976d2;
    border-radius: 6px;
    margin-left: 15px;
    overflow: hidden;
}

.head-subcontanier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #145ea8;
    font-size: 1.75em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 7px; 
}

.head-table-data {
    line-height: 1;
    padding: 10px;
}

.arrow-indicator {
    height: 20px;
}

.up {
    font-weight: bold;
    color: green;
}

.down {
    font-weight: bold;
    color: red;
}

@media only screen and (max-width: 800px) {
    #head-table-container {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .head-subcontanier {
        margin-top: 15px;
        flex-direction: row;
    }

    .head-title {
        font-size: 1.25em;
        margin-right: 10px;


    }
    
}